@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg.png);
    
}

header{
    font-size: 5rem;
    color: rgb(90, 37, 192);
    font-weight: bolder;
}

.game{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.start{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
    width: 100%;
}

.play{
    align-self: end;
    display: flex;
    align-items: center;
    width: 19%;
    justify-content: space-evenly;
}

p{
    font-size: 1.3rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
